body {
  background-color: #e8eef1;
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

.memory-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

h1 {
  margin-bottom: 20px;
  color: #1e3d58;
}

.category-selector {
  display: flex;
  justify-content: center;
  
  gap: 15px;
  margin-bottom: 20px;
}

.category-selector input[type="checkbox"] {
  margin-right: 5px;
}

.card-grid {
    box-sizing: content-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    font-weight: 500;
    
    line-height: 1.2rem;
    place-items: center;
}

.card {
  width: 110px;
  height: 110px;
  perspective: 1000px;
  cursor: pointer;
  
}

.card .flipped .front {
  transform: rotateY(0deg);
}

.card .flipped .back {
  transform: rotateY(180deg);
}

.card .front,
.card .back {
    
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: transform 0.6s;
}

.card .front {
  background-color: #1e3d58;
  color: white;
  transform: rotateY(180deg);
}

.card .back {
  background-color: #abd7f1;
  transform: rotateY(0deg);
}
