.simulation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.graph-wrapper {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 30px auto;
  flex-wrap: wrap;
}

.compare-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #43b0f1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.compare-button:hover {
  background-color: #057dcd;
}
